* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightsalmon;
    font-family: Arial, sans-serif;
}

#header {
    background-color: red;
    color: blanchedalmond;
    padding: 10px;
    text-align: center;
}

#h1-header {
    font-size: 24px;
}

#navegacao {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.link-cabecalho {
    color: blanchedalmond;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.link-cabecalho:hover {
    color: yellow;
}
.section-categorias {
    background-color: red;
    color:blanchedalmond;
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
    border-radius: 12px;
}

.h2-categorias {
    font-size: 28px;
    margin-bottom: 20px;
}

.categorias-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.categoria-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: blanchedalmond;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
}

.categoria-link:hover {
    background-color: darkred;
}
.section-2 {
    background-color: red;
    color: blanchedalmond;
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    max-width: 1200px;
    border-radius: 12px;
    text-align: center;
}

.h2-carda {
    font-size: 28px;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    justify-items: center;
}

.sub-grid {
    background-color: blanchedalmond;
    color: red;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    width: 100%;
}

.h2-sub-grid {
    font-size: 22px;
    margin-bottom: 10px;
}

.img-pizza, 
.img-sobremesa,
.img-bebida {
    width: 200px; 
    height: 150px; 
    object-fit: cover; 
    border-radius: 5px; 
}
.p-precos {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    color: green;
}

.botao-acao {
    background-color: red;
    color: blanchedalmond;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botao-acao:hover {
    background-color: darkred;
}


#rodape {
    background-color: red;
    color: blanchedalmond;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
